body {
  margin: 0;
  padding: 0;
}

figure img {
  text-align: center;
  max-height: 600px;
  object-fit: cover;
}

.image-row {
  display: flex;
  justify-content: space-around;
}

.image-row img {
  max-width: 100%;
}

.image-row figcaption {
  margin-top: 10px;
}

.text-block {
  display: flex;
  justify-content: space-around;
  align-items: start;
}

.text-with-image,
.text-without-image {
  text-align: center;
}

.text-with-image img {
  max-width: 60%;
  margin-bottom: 10px;
}

.text-with-image p, h3,
.text-without-image p, h3 {
  width: 400px;
  margin: auto;
  margin-bottom: 50px;
}

.timer_container {
  text-align: center;
  font-size: 90px;
  margin-bottom: 30px;
}

