body {

}

figure {
  text-align: center;
  margin-right: 10px;
}

.big_text {
  font-size: x-large

}
.image-row {
  display: flex;
}

.image-row img {
  max-width: 90%;
  margin-right: 50px;
}

.text-block {
  display: flex;
  justify-content: space-between; /* Распределение пространства между элементами */
  align-items: center;
}

.text-with-image,
.text-without-image {
  text-align: center;
}

.text-with-image img {
  max-width: 60%; /* Чтобы изображения не выходили за пределы контейнера */
  margin-bottom: 10px; /* Расстояние между изображением и текстом, по желанию */
}

.text-with-image p, h3,
.text-without-image p, h3 {
  width: 400px; /* Фиксированная ширина текста */
  margin: 0 auto; /* Центрирование текста в блоке */
  margin-bottom: 50px;
}
