.section_top {
  margin-top: 60px;
  position: relative;
  height: 700px;
}

.section_top::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('../img/background.png');
  background-size: cover;
  background-position: center;
  filter: brightness(50%) contrast(90%);
  z-index: -1;
}

.section_top h1 {
  color: white;
  font-size: xxx-large;
  width: 50%;
  padding-left: 30px;
  padding-top: 20px;
}

.section_top p {
  color: white;
  font-size: xxx-large;
  width: 50%;
  padding-left: 30px;
  padding-top: 20px;
}

