h1 {
  color: #ffffff;
  font-weight: normal;
}

h2 {
  font-weight: bold;
  text-align: center;
  font-size: xxx-large;
}

header {
  background-color: #0000ff;
}

.navbar {
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  height: 60px;
  line-height: 60px;
  box-sizing: border-box;
  background-color: #0000ff;
  z-index: 1000;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: x-large;
}

main {
  padding: 60px;
}

section {
  margin-bottom: 2em;
  margin-top: 6em;
}

footer {
  background-color: #0000ff;
  color: white;
  padding: 1em 0;
  text-align: center;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 20px;
  margin: 10px;
}

.custom-button {
  cursor: pointer;
  display: inline-block;
  padding: 30px 60px;
  font-size: xx-large;
  border: 2px solid #0000ff;
  border-radius: 50px;
  text-decoration: none;
  color: #ffffff;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #0000ff;
}

.small-button {
  display: inline-block;
  padding: 5px 10px;
  font-size: large;
  font-family: DotGothic16;
  border: 2px solid #0000ff;
  border-radius: 50px;
  text-decoration: none;
  color: #ffffff;
  background-color: black;
  transition: background-color 0.3s ease;
  margin-top: 10px
}

.small-button:hover {
  background-color: #0000ff;
}

.big_text {
  font-size: x-large;
  color: white;
}

.section_top {
  margin-top: 60px;
  position: relative;
  height: 800px;
}

.section_top::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('../img/logo.svg');
  background-size: cover;
  background-position: right;
  filter: invert(8%) sepia(99%) saturate(6774%) hue-rotate(247deg) brightness(108%) contrast(146%);

  /*filter: brightness(50%) contrast(90%);*/
  z-index: -1;
}

.section_top h1 {
  color: white;
  font-size: xxx-large;
  width: 50%;
  padding-left: 30px;
  padding-top: 20px;
}

.section_top p {
  color: white;
  font-size: xxx-large;
  width: 50%;
  padding-left: 30px;
  padding-top: 20px;
}

.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.question {
  font-size: xx-large;
  padding: 10px 30px;
  margin-top: 30px;
  border: 1px solid #ccc;
  border-radius: 20px;
  display: inline-block;
}

.answer {
  font-size: large;
  padding: 0px;
  margin-top: 15px;
  border: 1px solid #0000ff;
  border-radius: 5px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.0s ease-in-out;
}

.answer.active {
  max-height: 500px;
}


#floating-menu {
  position: fixed;
  top: 95%;
  left: 3%;
  transform: translateY(-50%);
  background-color: #ffe1cc;
  padding: 2px;
  border-radius: 20px;
}

#floating-menu button {
  background-color: #ff7189;
  color: #ffffff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}
